.header {
	height: 100%;
	margin: 20px 0;

	.logo-container {
		height: 100%;
		width: 70px;
		padding: 12px;
		display: inline-block;
	}

	.options {
		height: 100%;
		float: right;

		.option {
			display: inline-block;
			color: black;
			background: none;
			border: none;
			
			&:hover {
				text-decoration: underline;
			}
		}		
	}
	
	.user-label .person-icon {
		vertical-align: sub;
		margin: 0 5px;
	}
}